#!/bin/bash

export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# export LD_LIBRARY_PATH=

DAEMON=/home/eth-server/server/eth-server-build-start.sh

OPTIONS=""
# EXTRA_OPTIONS=$(echo "" | sed '')

test -f $DAEMON || exit 0

case "$1" in
  start)
    echo -n "Starting eth-server daemon: "
    start-stop-daemon --start --verbose --background --exec $DAEMON -- $OPTIONS $EXTRA_OPTIONS
    echo "."
    ;;
  stop)
    echo -n "Stopping eth-server daemon: "
    start-stop-daemon --stop --verbose --exec $DAEMON
    echo "."
    ;;
  restart)
    echo -n "Stopping eth-server daemon: "
    start-stop-daemon --stop --verbose --exec $DAEMON
    sleep 1
    echo -n "Starting eth-server daemon: "
    start-stop-daemon --start --verbose --background --exec $DAEMON -- $OPTIONS $EXTRA_OPTIONS
    echo "."
    ;;
  *)
    # echo "Usage: /etc/init.d/___ {start|stop|restart}"
    echo "Usage: eth-server-startup.service {start|stop|restart}"
    exit 1
esac

exit 0